@model IEnumerable<Category>

<div class="widget-detail">
    <ul>
        @foreach (var category in Model.Where(c => c.ParentCategoryId == null))
        {
            <li>
                <a href="#">@category.Title<span>(2)</span></a>

                @if (category.SubCategories?.Any() == true)
                {
                    <ul>
                        @foreach (var subCategory in category.SubCategories)
                        {
                            <li><a href="#">@subCategory.Title<span>(2)</span></a></li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</div>